<h2>{{title}}</h2>

<ul>
    {{#each users}}
        <li>
            <p>
                <strong>First Name:</strong> {{ firstname }}<br />
                <strong>Last Name:</strong> {{ lastname }}<br />
                {{#if shorthand }}
                    <strong>Shorthand:</strong> {{ shorthand }}<br />
                {{/if }}
                <strong>Projects:</strong>
                <ul>
                    {{#each projects}}
                        <li>
                            {{ title }}
                        </li>
                    {{/each }}
                </ul>
            </p>
            <hr />
        </li>
    {{/each}}
</ul>
